.profile {
    margin: 36.25px auto 47.25px auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 670px) {
    .profile {
        flex-direction: column;
        margin: 42.25px auto 36px auto;
    }
}