.popup__input-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
    max-width: 358px;
    margin: 0;
    padding: 0;
    position: absolute;
}

@media screen and (max-width: 670px) {
    .popup__input-error {
        max-width: 238px;
    }
}