.profile__info {
    max-width: 336px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    row-gap: 9px;
    column-gap: 18px;
    margin-right: auto;
    padding-left: 30px;
}

@media screen and (max-width: 670px) {
    .profile__info {
        margin: 0 auto 32px;
        padding-left: 0;
        justify-content: center;
    }
}