.popup__save {
    background: #000000;
    border-style: none;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    margin: 0 0 36px 0;
    padding: 0;
    cursor: pointer;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 670px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        height: 46px;
        margin-bottom: 25px;
    }
}